<div class="container">
 <table class="table table-songs">
        <thead>
          <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
            <tr tabindex="1" *ngFor="let song of songs" (click)="goToSong(song)">
              <td>{{ song.track.name }}</td>
              <td>{{ song.track.artists[0].name }}</td>
              <td>{{ song.track.album.name }}</td>
            </tr>
        </tbody>
      </table>
</div>

