<div id="container">
  <!-- main wavesurfer.js lib -->
  <div class="header">
    <img src={{image}}/>
    <h4>{{ song }}</h4>  
    <h5 style="margin-bottom: 50px;"> {{ artist }}</h5>
    <button class="btn btn-primary" (click)="playPause()">
      <i class="fa fa-play" aria-hidden="true"></i> / <i class="fa fa-pause" aria-hidden="true"></i>
    </button>
    <button #tagbutton class="btn btn-primary">
      +<i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>
    </button>
  </div>

  <div id="waveform"></div>
  <div #tags id="tags">
  </div>
  <div id="comment" style="text-align: center; margin-top: 50px;">
    <p>Enter Your Tag Comment</p>
    <input #box>
      <button class="btn btn-primary" (click)="submitText(box.value)">
      Submit
    </button>
  </div>
  <div id="save" style="text-align: center; margin-top: 50px;">
      <button class="btn btn-primary" (click)="saveTagsToSong()">
      Save
    </button>
  </div>
</div>
