
<!-- main wavesurfer.js lib -->
<h4 class="card-title">{{ name }}</h4>  
<div id="waveform"></div>
<div #tags id="tags">
</div>
<div style="text-align: center; margin-top: 50px;">
 <button class="btn btn-primary" (click)="tag()">
    Tag
  </button>
  <button class="btn btn-primary" (click)="playPause()">
    Play
  </button>
</div>
<div id="comment" style="text-align: center; margin-top: 50px;">
  <p>Enter Your Tag Comment</p>
  <input #box>
    <button class="btn btn-primary" (click)="submitText(box.value)">
    Submit
  </button>
</div>
<div id="save" style="text-align: center; margin-top: 50px;">
    <button class="btn btn-primary" (click)="saveTagsToSong()">
    Save
  </button>
</div>